html {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.75px;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-blue: #3f8cff;
    --primary-blue-dark: #4361ee;
    --text-white: #f7faff;
    --text-gray: #b5b8bc;
    --text-color: #303651;
    --text-color-neutral: #697089;
    --card-bg: #222429;
    --bg: #141419;
}

*::selection {
    background: var(--primary-blue);
    color: var(--text-white);
}

body {
    background: var(--bg);
    padding: 1.5rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin: 0;
    height: auto;
}

.pricing-container {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem 2rem;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background: var(--card-bg);
    color: var(--text-gray);
    transition: all 0.5s ease-in-out;
}

.pricing-card:hover {
    transform: translateY(-2rem);
}

.pricing-card--primary {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.pricing-card_price {
    color: var(--text-white);
    font-weight: 700;
    flex-wrap: wrap;
    font-size: 2rem;
}

.pricing-card_banner {
    height: 1rem;
    width: 100%;
    color: #fff;
    position: absolute;
    top: -2.5rem;
    background-color: red;
}

.pricing-card_banner+.pricing-card {
    border-radius: 0 0 0.5rem 0.5rem;
}

.pricing-card_price--original {
    color: var(--text-gray);
    font-weight: 500;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.pricing-card > h3 {
    margin: 0px;
    color: var(--text-white);
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}

.pricing-card > .enroll {
    display: block;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-blue);
    min-height: 3rem;
    border-radius: 0.5rem;
    color: var(--text-white);
    margin-top: auto;
    text-decoration: none;
    letter-spacing: 0.75px;
    border: 1px solid var(--primary-blue);
    transition: all 0.3s ease-in-out;
}

.pricing-card > .enroll:hover {
    background: var(--primary-blue-dark);
}

.pricing-card_banner {
    width: 100%;
    min-height: 2.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}

.pricing-card > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 1rem;
}

.pricing-card > ul > li {
    position: relative;
    font-weight: 500;
    list-style-type: disc;
    font-size: 0.875rem;
}


/* 

Wanted to use a check circle but I decided to set the list-style- type to disc
.pricing-card>ul>li:before {
    content: "";
    position: absolute;
    top: 2.5px;
    left: -2.25rem;
    width: 1rem;
    height: 1rem;
    background: url(./images/check\ circle.png);
    background-repeat: no-repeat;
    color: var(--primary-blue);
} */